.width {
  max-width: 840px;
}

.newComments {
  margin: 0 auto;
}

.close {
  position: absolute;
  right: 2px;
  top: 2px;
}

.myImg {
  border-radius: 12px;
  height: 10%;
  width: 10%;
}
.View {
  cursor: pointer;
}
.showComments{
  position: absolute;
  top: 5rem;
}